.page-footer {
  background: #114B5F;
  width: 100%;
  color: white;
  text-align: center;
  // margin-top: 5%;
}

.sm-links {
  text-align: center;
  font-size: 25px;
  // padding-top: 50px;
}

.sm-links-container {
  margin-bottom: 20px;
}

.social-media-link {
  margin: 10px;
  color: #fff;
}

i:hover {
  color: #007bff;
}

.copyright-name:hover {
  text-decoration: none;
}