.App-header {
  background-color: rgb(26, 179, 148);
  height: 150px;
  padding: 20px;
  color: white;
  min-height: 0;
  padding-top: 250px;
  padding-bottom: 150px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
